.navbar {
  padding: 0 100px;
  background-color: #fff;
}

.navbar .navbar-brand img {
  width: 250px;
}

.navbar .find_text {
  margin: 5px 10px;
}

.navbar input {
  outline: 0;
  border-width: 0 0 1px;
  border-radius: 0;
  border-color: #6e6e6e;
}

.navbar input:focus {
  border-color: #019cdf;
  border-width: 0 0 3px;
  margin-bottom: -2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar button {
  background: transparent;
  border: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.navbar .nav-link {
  color: #019cdf !important;
  text-transform: uppercase;
}

.navbar .nav-link:after {
  display: block;
  content: '';
  border-bottom: solid 3px #019cdf;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.navbar .nav-link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar #navbarNav {
  border-bottom: 2px solid #aeaeae;
}

.navbar .nav-item p {
  margin: 2px;
  padding: 5px;
  color: #6e6e6e;
}

.second-part-nav {
  top: 50px;
  padding-top: 25px;
}

.head {
  text-transform: uppercase;
  color: #6e6e6e;
  margin-top: 150px;
}

.head p {
  font-size: 20px;
}

.head img {
  width: 400px;
}

.title {
  text-transform: uppercase;
  color: #6e6e6e;
  font-size: 24px;
  border-bottom: 2px solid #6e6e6e;
  display: inline-block;
}

.title span {
  font-weight: bold;
}

.ads {
  background-color: #aeaeae;
}

.ads p {
  text-transform: uppercase;
  margin-top: 1rem;
  color: #fff;
}

.airnews {
  margin-top: 35px;
}

.airnews .background {
  background-color: #ececec;
}

.airnews .title {
  padding-top: 50px;
  margin-bottom: 2rem;
}

.airnews .card-wrapper {
  margin-bottom: -7%;
}

.airnews .card {
  border: none;
}

.airnews .card-body {
  background-color: #f4f4f4;
  padding: 0.8rem 0.8rem 0 0.8rem;
}

.airnews .card-body .fa-angle-down {
  color: #019cdf;
  font-size: 30px;
}

.airnews .card-date {
  color: #6e6e6e;
  display: inline-block;
  border-bottom: 2px solid #6e6e6e;
}

.airnews .card-title {
  color: #019cdf;
  display: inline-block;
  border-bottom: 2px solid #019cdf;
}

.airnews .card-text {
  font-size: 12px;
  color: #6e6e6e;
  margin-bottom: 5px;
}

.airnews .ads {
  margin-top: 110px;
}

@media screen and (min-width: 1400px) {
  .navbar .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .navbar .container {
    margin-left: 100px;
    margin-right: 100px;
  }
  .airnews .ads {
    margin-top: 95px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .airnews .card-title {
    font-size: 19px;
  }
  .airnews .ads {
    margin-top: 80px;
  }
}

@media screen and (max-width: 991px) {
  .airnews .card-wrapper {
    margin-bottom: 30px;
  }
  .airnews .ads {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    margin: 0;
  }
  .navbar .nav-item {
    text-align: center;
  }
  .navbar .nav-link,
  .navbar .small-screen {
    margin-left: 50px;
    margin-right: 50px;
  }
  .navbar form {
    margin-bottom: 25px;
  }
  .big-screen {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .small-screen {
    display: none !important;
  }
}

@media screen and (max-width: 540px) {
  .navbar .navbar-brand img {
    width: 200px;
  }
  .head img {
    width: 250px;
  }
  .head p {
    font-size: 16px;
  }
}
