@media screen and (min-width: 1400px) {
    .navbar .container {
        margin-left: auto;
        margin-right: auto;
    }

    .diagonal-line {
        width: 325px !important;
        height: 99px !important;
        transform: translateY(-16px) translateX(0px) rotate(29deg) !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .navbar .container {
        margin-left: 100px;
        margin-right: 100px;
    }

    .airnews .ads {
        margin-top: 95px;
    }

    .airtrends .bg-image,
    .airchallenges .bg-image {
        height: 350px;
    }

    .airchallenges {
        &-text h5 {
            font-size: 20px;
        }
    
        &-text p {
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .airnews .card-title {
        font-size: 19px;
    }

    .airnews .ads {
        margin-top: 80px;
    }

    .airtrends .bg-image {
            height: 320px;
    }

    .airtrends p {
        font-size: 15px ;
    }


    .airchallenges {
        &-text h5 {
            font-size: 20px;
        }
    
        &-text p {
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .airtrends .bg-image {
        background-image: url('../images/cover2.jpg');
        height: 380px;
    }

    .airtrends p {
        font-size: 15px ;
    }
}

@media screen and (max-width: 991px) {
    .airnews .card-wrapper {
        margin-bottom: 30px;
    }

    .airnews .ads {
        margin-top: 10px;
    }

    .airchallenges {
        .bg-image {
            width: calc(100% - 20px);
        }

        .airchallenges-text {
            margin-top: 10px;
        }

        &-text h5 {
            font-size: 1.25rem;
        }
    
        &-text p {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        padding: 10px 0 0 0;

        .nav-item {
            text-align: center;
        }

        .nav-link,
        .small-screen  {
            margin-left: 50px;
            margin-right: 50px;
        }

        form {
            margin-bottom: 25px;
        }  
    }

    .head {
        margin-top: 90px;
    }  

    .big-screen {
        display: none !important;
    }

    .airtrends .bg-image {
        background-image: url('../images/cover3.jpg');
        height: 700px;
    }

    .airtrends {
        &-text {
            background-color: transparent;
            margin-top: 350px;
        }
    }

    footer{
        img {
            margin-bottom: 10px;
        }
        br {
            display: block;
        }
        .seperator {
            margin: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .small-screen {
        display: none !important;
    }
}


@media screen and (max-width: 540px) {
    .navbar .navbar-brand img {
        width: 200px;
    }

    .head {
        img {
            width: 250px;
        }

        p {
            font-size: 16px;
        }
    }

    .airtrends .bg-image {
        background-image: url('../images/cover4.jpg');
        height: 560px;
    }

    .ads {
        p {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px
        }
    }

    .airtrends {
        &-text {
            background-color: transparent;
            margin-top: 265px;

            h5 {
                font-size: 16px;
            }

            p {
                font-size: 13px;
                margin-bottom: 0;
            }
        }
    }
}