$primary-color: #019cdf;
$second-color: #ececec;
$font-color: #6e6e6e;
$light-gray: #aeaeae;

@import 'responsive';

.navbar {
    margin: 0 100px;

    .navbar-brand img {
        width: 250px;
    }

    .find_text {
        margin: 5px 10px;
    }

    input {
        outline: 0;
        border-width: 0 0 1px;
        border-radius: 0;
        border-color: $font-color;

    }
    input:focus {
    border-color: $primary-color;
    border-width: 0 0 3px;
    margin-bottom: -2px;
    box-shadow: none;
    }

    button {
        background: transparent;
        border: none;
        box-shadow: none !important;
    }

    .nav-link {
        color: $primary-color !important;
        text-transform: uppercase   ;
    }

    .nav-link:after {
        display:block;
        content: '';
        border-bottom: solid 3px  $primary-color;  
        transform: scaleX(0);  
        transition: transform 150ms ease-in-out;
    }

    .nav-link:hover:after { 
        transform: scaleX(1); 
    }

    #navbarNav {
        border-bottom: 2px solid $light-gray;
    }

    .nav-item p {
        margin: 2px;
        padding: 5px;
        color: $font-color;
    }

}

