$primary-color: #019cdf;
$second-color: #ececec;
$font-color: #6e6e6e;
$gray: #aeaeae;
// $dark-gray: #7e7e7e;
$light-gray: #f4f4f4;

// ------------------Navbar & Header------------------

.navbar {
    padding: 0 100px;
    background-color: #fff;

    .navbar-brand img {
        width: 250px;
    }

    .find_text {
        margin: 5px 10px;
    }

    input {
        outline: 0;
        border-width: 0 0 1px;
        border-radius: 0;
        border-color: $font-color;

    }
    input:focus {
    border-color: $primary-color;
    border-width: 0 0 3px;
    margin-bottom: -2px;
    box-shadow: none;
    }

    button {
        background: transparent;
        border: none;
        box-shadow: none !important;
    }

    .nav-link {
        color: $primary-color !important;
        text-transform: uppercase   ;
    }

    .nav-link:after {
        display:block;
        content: '';
        border-bottom: solid 3px  $primary-color;  
        transform: scaleX(0);  
        transition: transform 150ms ease-in-out;
    }

    .nav-link:hover:after { 
        transform: scaleX(1); 
    }

    #navbarNav {
        border-bottom: 2px solid $gray;
    }

    .nav-item p {
        margin: 2px;
        padding: 5px;
        color: $font-color;
    }

}

.second-part-nav {
    top: 50px;
    padding-top: 25px;
}

.head {
    text-transform: uppercase;
    color: $font-color;
    margin-top: 150px;
    
    p {
        font-size: 20px;
    }

    img {
        width: 400px;
    }
}

// ------------------Second Section------------------

.title {
    text-transform: uppercase;
    color: $font-color;
    font-size: 24px;
    border-bottom: 2px solid $font-color;
    display:inline-block;

    span {
        font-weight: bold;
    }
}

.ads {
    background-color: $gray;
    
    p {
        text-transform: uppercase;
        margin-top: 1rem;
        color: #fff;
    }
}

.airnews {
    margin-top: 35px;

    .background {
        background-color: $second-color;
    }

    .title {
        padding-top: 50px;
        margin-bottom: 2rem;
    }

    .card-wrapper  {
        margin-bottom: -7%;
    }

    .card {
        border: none;

        &-body {
            background-color: $light-gray;
            padding: 0.8rem 0.8rem 0 0.8rem;
    
            .fa-angle-down {
                color: $primary-color;
                font-size: 30px;
            }
        }

        &-date {
            color: $font-color;
            display:inline-block;
            border-bottom: 2px solid $font-color;
        }
    
        &-title {
            color: $primary-color;
            display:inline-block;
            border-bottom: 2px solid $primary-color;
        }
    
        &-text {
            font-size: 12px;
            color: $font-color;
            margin-bottom: 5px;
        }
    }
    
    .ads {
        margin-top: 110px;
    }
    
}

@import 'responsive';