$primary-color: #019cdf;
$second-color: #ececec;
$font-color: #6e6e6e;
$font-color-dark: #3e3e3e;
$gray: #aeaeae;
$light-gray: #f4f4f4;
$dark-gray: #555;
$table-section-color: #e1f6fd;
$table-section-second-color: #c3eef9;

// ------------------Navbar & Header------------------

.navbar {
    padding: 0 100px;
    background-color: #fff;

    .navbar-brand img {
        width: 250px;
    }

    .find_text {
        margin: 5px 10px;
    }

    input {
        outline: 0;
        border-width: 0 0 1px;
        border-radius: 0;
        border-color: $font-color;

    }
    input:focus {
    border-color: $primary-color;
    border-width: 0 0 3px;
    margin-bottom: -2px;
    box-shadow: none;
    }

    button {
        background: transparent;
        border: none;
        box-shadow: none !important;
    }

    .nav-link {
        color: $primary-color !important;
        text-transform: uppercase   ;
    }

    .nav-link:after {
        display:block;
        content: '';
        border-bottom: solid 3px  $primary-color;  
        transform: scaleX(0);  
        transition: transform 150ms ease-in-out;
    }

    .nav-link:hover:after { 
        transform: scaleX(1); 
    }

    #navbarNav {
        border-bottom: 2px solid $gray;
    }

    .nav-item p {
        margin: 2px;
        padding: 5px;
        color: $font-color;
    }

}

.second-part-nav {
    top: 50px;
    padding-top: 25px;
}

.head {
    text-transform: uppercase;
    color: $font-color;
    margin-top: 150px;
    
    p {
        font-size: 20px;
    }

    img {
        width: 400px;
    }
}

// ------------------Second Section------------------

.title {
    text-transform: uppercase;
    color: $font-color;
    font-size: 24px;
    border-bottom: 2px solid $font-color;
    display:inline-block;
    margin-top: 30px;

    span {
        font-weight: bold;
    }
}

.ads {
    background-color: $gray;
    
    p {
        text-transform: uppercase;
        margin-top: 1rem;
        color: #fff;
    }
}

.airnews {
    margin-top: 35px;

    .background {
        background-color: $second-color;
    }

    .title {
        margin-bottom: 2rem;
    }

    .card-wrapper  {
        margin-bottom: -7%;
    }

    .card {
        border: none;

        &-body {
            background-color: $light-gray;
            padding: 0.8rem 0.8rem 0 0.8rem;
        }

        &-date {
            color: $font-color;
            display:inline-block;
            border-bottom: 2px solid $font-color;
        }
    
        &-title {
            color: $primary-color;
            display:inline-block;
            border-bottom: 2px solid $primary-color;
        }
    
        &-text {
            font-size: 12px;
            color: $font-color;
            margin-bottom: 5px;
        }
    }
    
    .ads {
        margin-top: 110px;
    }
}

.fa-angle-down {
    color: $primary-color;
    font-size: 30px;
}

// ------------------Third Section------------------

.title-white {
    color: #fff;
    border-color: #fff;
}

.airtrends {
    margin-top: 10px;

    .bg-image {
        background-image: url('/images/cover1.jpg');
        height: 400px;
        background-size: cover;
    }

    .ads {
        margin-top: 10px;
    }

    &-text h5,
    &-text p {
        color: $font-color-dark;
    }

    &-text {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(255,255,255,0.2);
    }
}


// ------------------Fourth Section------------------

.airchallenges {
    margin-top: 10px;

    &-title {
        position: absolute;
        width: 100%;
    }

    .bg-image {
        background-image: url('/images/skewed.jpg');
        height: 400px;
        background-size: cover;
        margin-left: 10px;
        margin-right: -10px;
    }

    .bg-white { 
        background-color: #fff;
        height: 101%;
        width: 18%;
        margin-top: -1px;
        margin-right: -15px;
        float: right;
        clip-path: polygon(95% 0, 100% 0, 100% 100%, 0% 100%);
    }

    &-text {
        margin-top: 70px;
    }

    &-text h5 {
        color: $font-color-dark;
        font-size: 22px;
    }

    &-text p {
        color: $font-color-dark;
        font-size: 18px;
    }

    .ads {
        margin-top: 10px;
    }
}

// ------------------Fiveth Section------------------

.table-section {
    background-color: $table-section-color;
    margin-top: 30px;
    padding-bottom: 30px;

    table th {
        color: $font-color;
    }

    .fee-col {
        width: 50px;
    }

    table {
        border-color: $font-color;
    }

    table>tbody>tr:nth-of-type(odd) {
        background-color: $table-section-second-color;
    }

    .tabel-header {
        background-color: $table-section-color !important;
        border-top: solid 3px $font-color;
        border-bottom: solid 3px $font-color;
    }

    table>tbody>tr>th:first-child {
        border-left-color: $table-section-color;
    }

    table>tbody>tr>th:last-child {
        border-right-color: $table-section-color;
    }

    .weight-col {
        min-width: 60px;
    }

    .company-col {
        min-width: 165px;
    }

    .diagonal-cell {
        width: 100px;
        height: 100px;
        padding: 0;
        margin: 0;
    }

    .diagonal-cell>div {
        position: relative;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .diagonal-line {
        width: 313px;
        height: 106px;
        border-bottom: 1px solid $font-color;
        transform: translateY(-21px) translateX(0px) rotate(31deg);
        position: absolute;
    }

    .bottom {
        position: absolute;
        bottom: 1px;
        left: 15px;
        font-size: 18px
    }
      
    .top {
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 18px
    }
}

// ------------------Fiveth Section------------------

footer {
    background-color: $dark-gray;
    padding: 25px;

    img {
        width: 150px;
    }

    a,
    a:hover {
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        font-size: 10px ;
    }

    br {
        display: none;
    }

    span {
        color: #fff;
        margin: 3px;
    }

    .seperator {
        margin: 0 20px;
    }
}

@import 'responsive';